$fontfamily: 'Open Sans';
$fontMer: 'Merriweather';
$fontRob: 'Roboto';
$wievport: 970px;

@mixin ibw() {
    text-align: center;
    font-size: 0;
        &>*{
        font-size: 1rem;
        display: inline-block;
        vertical-align: top;
        }
}
@mixin sec() {
    width: 100%;
    min-width: $wievport;
    overflow: hidden;
    position: relative;
    z-index: 2;
    min-height: 600px;
    height: 100vh;
    background-size: cover!important;
    &>div{
        max-width: $wievport;
        position: relative;
        z-index: 2;
        height: 100%;
        margin: 0 auto;
        &>div{
            width: 100%;
            position: absolute;
            height: 600px;
            top: 50%;
            margin-top: -300px;
            
        }
    }
}
@mixin clr() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
*{margin:0;padding:0;box-sizing:border-box;background-position:center;background-repeat:no-repeat}
:after,:before{content:"";display:block;width:100%;height:0;clear:both}
sup:after,sup:before,a:after,a:before,br:after,br:before,img:after,img:before,span:after,span:before,table:after,table:before,td:after,td:before,tr:after,tr:before{content:none}
h1,h2,h3,h4,h5{font-size:1em;font-weight:inherit;text-align:center;font-family: $fontMer;font-weight: 300;letter-spacing: 0.01em}
body{font-family:$fontfamily,sans-serif;font-weight:400;}
a{text-decoration:none;color:inherit;outline:0!important}
button,input,textarea{outline: none;}
section{
    @include sec();
}

#maket {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    background: url(../maket.jpg) no-repeat top center;
    height: 13200px;
    opacity: 0.5;
    z-index: 10;  
}

.section_f {
    background-image: url(../../img/section/item-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.wrap_section_f {
    color: white;
    .header_page {
        position: relative;
        z-index: 1;
        margin-bottom: 65px;
        .menu {
            position: absolute;
            left: 0px;
            top: 20px;
            z-index: 1;
            .menu_link {
                display: block;
                width: 26px;
                height: 20px;
                
                background-image: url(../../img/icon/menu.png);
                background-repeat: no-repeat;
                &:hover{
                }
            }
        }
        .logo_page {
            display: block;
            margin: 0 auto;
            text-align: center;
            line-height: 1;
            &:hover{
            }
        }
        .tel_page {
            position: absolute;
            right: 0px;
            top: 0;
            z-index: 1;
            font-size: 24px;
            line-height: 60px;
            &:hover{
            }
        }
    }
    .content {
        text-align: center;
        p {
            font-size: 30px;
            font-weight: 300;
            line-height: 40px;
            margin-bottom: 4px;
        }
        h1 {
            color: #fefefe;
            font-size: 46px;
            font-weight: 400;
            line-height: 50px;
        }
    }
    .ill_section_f {
        height: 220px;
        margin-bottom: 30px;
        position: relative;
        z-index: 1;
        background-image: url(../../img/lep.png);
        background-repeat: no-repeat;
        background-position: center;
        .ill_block {
            position: absolute;
            z-index: 1;
            right: 175px;
            top: 90px;
            width: 230px;
            border-radius: 3px;
            background-color: #122f5b;
            @include clr();
            padding: 7px 10px 13px;
            &:after {
                border: 30px solid transparent;
                border-left: 20px solid #122f5b;
                position: absolute;
                top: 0;
                left: 99.9%;
            }
            .number {
                font-size: 40px;
                font-weight: 300;
                line-height: 20px;
                float: left;
                margin-top: 10px;
            }
            p {
                float: right;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
            }
        }

    }
    .form_section_f {
        width: 770px;
        margin: 0 auto;
        height: 80px;
        padding: 20px;
        background-color: white;
        border-radius: 3px;
        box-shadow: 0 30px 50px rgba(0, 0, 0, 0.25);
        @include clr();
        .block_f {
            width: 230px;
            float: left;
            margin-right: 20px;
            text-align: left;
        }
        h2 {
            color: #161d26;
            font-size: 17px;
            font-weight: 400;
            line-height: 20px;
        }
        p {
            color: #5d6978;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }
        input {
            width: 230px;
            height: 40px;
            margin-right: 5px;
            background-color: #fafafa;
            border: 1px solid #d3dae1;
            border-radius: 3px;
            padding: 0 13px;
        }
        button {
            width: 240px;
            height: 40px;
            vertical-align: top;
            color: white;
            background-color: #ffc80a;
            border-radius: 3px;
            border: none;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            
        }
    }
}

.section_history {
    background-image: url(../../img/section/item-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.wrap_history {
    position: relative;
    z-index: 1;
    &:before {
        position: absolute;
        left: 50%;
        margin-left: -23px;
        top: -48px;
        width: 46px;
        height: 30px;
        background-image: url(../../img/icon/quote.png);
    }
    h2 {       
        color: #fefefe;
        font-size: 36px;
        font-weight: 400;
        line-height: 40px;
        margin-bottom: 32px;
    }
    .slider_history {
        .item_history {
            line-height: 1;
            text-align: center;
        }
        .item_history img {
            width: 560px;
            height: 340px;
            box-shadow: 0 30px 50px rgba(0, 0, 0, 0.25);
        }
    }
    .author_history {
        font-weight: 400;
        line-height: 20px;
        color: white;
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 50%;
        width: 180px;
        margin-left: -90px;
    }
    h3 {
        font-size: 17px;
    }
    p {
        font-size: 14px;
    }
    .slider_history_dots {
        width: 900px;
        margin: 0 auto;
        text-align: center;
        border-bottom: 2px solid white;
        padding: 30px 0 13px;
        position: relative;
        z-index: 1;
        .item_history_dots {
            display: inline-block;
        }
        .item_history_dots a {
            display: block;
            position: relative;
            z-index: 1;
        }
        .item_history_dots a:hover:after {
            content: '';
            width: 100%;
            left: 0;
            bottom: -18px;
            position: absolute;
            z-index: 1;
            height: 4px;
            background-color: #eeb906;
            border-radius: 2px;
        }
    }
}

.section_GetAnOffer {
    background-image: url(../../img/section/item-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.wrap_GetAnOffer {
    width: 970px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.25);
    padding: 37px 40px;
    text-align: center;
    .form_section {
        margin-bottom: 40px;
    }
    .form_section label:last-of-type {
        margin-right: 0;
    }
    h2 {
        color: #161d26;
        font-size: 36px;
        font-weight: 400;
        line-height: 40px;
        margin-bottom: 12px;
    }
    p {
        color: #5d6978;
        font-size: 20px;
        font-weight: 300;
        line-height: 20px;
    }
    .hr_line {
        position: relative;
        z-index: 1;
        margin-bottom: 50px;
        &:after {
            position: absolute;
            width: 120px;
            height: 2px;
            left: 50%;
            margin-left: -60px;
            bottom: -23px;
            background-color: #ffc80a;
            border-radius: 1px;
        }
    }
    h3 {
        color: #161d26;
        font-size: 17px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 10px;
    }
    label,
    input[type="text"],
    input[type="tel"]{
        display: inline-block;
        color: #5d6978;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        position: relative;
        padding: 9px 11px 9px 9px;
        padding-left: 40px;
        background-color: #fafafa;
        border: 1px solid #d3dae1;
        border-radius: 3px;
        &:before {
            position: absolute;
            left: 9px;
            top: 9px;
            width: 20px;
            height: 20px;
            background-color: white;
            border: 1px solid #d3dae1;
            border-radius: 3px;
        }
        &:after {
            position: absolute;
            display: none;
            left: 14px;
            top: 16px;
            background-image: url(../../img/icon/ok.png);
            background-repeat: no-repeat;
            width: 10px;
            height: 9px;
        }
        &:hover {
            background-color: #ffc80a;
            color: #161d26;
            border-color: transparent;
        }
        
    }
    input[type="checkbox"]:checked + label:before {
        background-color: #2680bf;
        border-color: transparent;
    }
    input[type="checkbox"]:checked + label {
        background-color: #ffc80a;
        color: #161d26;
        border: 1px solid #ffc80a;
    }
    input[type="checkbox"]:checked + label:after {
        display: block;
    }
    label {
        min-width: 80px;
        margin-right: 5px;
    } 
    input[type="checkbox"] {
        display: none;
    }
    input[type="text"] {
        width: 360px;
        height: 40px; 
    }
    input[type="tel"] {
        display: inline-block;
        width: 230px;
        height: 40px;
        margin-left: 6px;
    }
    input[type="text"],
    input[type="tel"] {
        padding-left: 9px;
        &:hover {
            background-color: #fafafa;
            border-color: #d3dae1;
        }
    }
    button {
        border: none;
        width: 140px;
        height: 40px;
        background-color: #2680bf;
        border-radius: 3px;
        color: white;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin-left: 6px;
    }
}


.section_OurVideo>.container {
    border-bottom: 1px solid #e5eaee;
}

.wrap_OurVideo {
    h2 {
        color: #161d26;
        font-size: 36px;
        font-weight: 400;
        line-height: 40px;
        margin-bottom: 10px;
    }
    p {
        text-align: center;
        color: #5d6978;
        font-size: 20px;
        font-weight: 300;
        line-height: 20px;
        
    }
    .wrap_OurVideo {
        
    }
    .item_OurVideo {
        margin-top: 35px;
    }
    .video {
        display: inline-block;
        vertical-align: top;
        width: 560px;
        margin-top: 88px;
        height: 340px;
        box-shadow: 0 30px 50px rgba(0, 0, 0, 0.25);
    }
    .description {
        width: 370px;
        margin-left: 32px;
        padding-right: 30px;
        display: inline-block;
        vertical-align: top;
        
    }
    .number_item {
        text-align: left;
        color: #e5eaee;
        font-family: $fontRob;
        font-size: 140px;
        font-weight: 900;
        line-height: 1;
        margin-bottom: 6px;
    }
    .desc_text {
        position: relative;
        z-index: 1;
        padding: 30px 0;
        &:before,
        &:after {
            position: absolute;
            left: 0;
            width: 170px;
            height: 2px;
            background-color: #ffc80a;
        }
        &:before {
            top: 0;
        }
        &:after {
            bottom: 0;
        }
        h3 {
            text-align: left;
            color: #161d26;
            font-size: 36px;
            font-weight: 400;
            line-height: 40px;
            margin-bottom: 22px;
        }
        p {
            text-align: left;
            color: #5d6978;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }
    }
    .specifications {
        margin-top: 29px;
        min-height: 100px;
        padding-left: 120px;
        background-image: url(../../img/icon/doc.png);
        background-repeat: no-repeat;
        background-position: center left;
        p {
            text-align: left;
            font-size: 13px;
            font-weight: 400;
            line-height: 30px;

        }
    }
    .checkboxText {
        color: #161d26;
        padding-left: 30px;
        background-image: url(../../img/icon/ok-b.png);
        background-repeat: no-repeat;
        background-position: center left;
    }
}

.section_OurVideo:nth-of-type(odd) {
    .video {
        float: right;
    }
    .description {
        margin-left: 0;
    }
}

.sectio_thanks {
    background-image: url(../../img/section/item-4.jpg);
    background-repeat: no-repeat;
    background-position: center left;
}


.companies_wrap {
    h2 {
        color: #161d26;
        font-size: 36px;
        font-weight: 400;
        line-height: 40px;
        margin-bottom: 25px;
    }
    .slider_companies {
    }
    .item_companies {
        width: 745px;
        margin: 0 auto;
    }
    ul {
        list-style: none;
    }
    li {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 35px;
        margin-right: 165px;
        position: relative;
        z-index: 1;
        padding-top: 113px;
    }
    li:nth-of-type(3n+3) {
        margin-right: 0;
    }
    a {
        color: #5d6978;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        &:hover{
        }
    }
    img {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%,0px);
    }
}

.section_management {
    background-image: url(../../img/section/item-5.jpg);
    background-repeat: no-repeat;
    background-position: center left;
}

.management_wrap {
    h2 {
        color: #fefefe;
        font-size: 36px;
        font-weight: 400;
        line-height: 40px;
        margin-bottom: 35px;
    }
    .slider_management {
        text-align: center;
    }
    .item_management {
        
    }
    a {
        box-shadow: 0 30px 50px rgba(0, 0, 0, 0.25);
        &:hover{
        }
    }
    img {
    }
    .quote {
        display: block;
        margin: 0 auto;
        width: 810px;
        position: relative;
        z-index: 2;
        background-color: white;
        border-radius: 3px;
        margin-bottom: 18px;
        margin-top: 15px;
        padding: 21px 40px;
        &:before {
            width: auto;
            position: absolute;
            top: -20px;
            left: 50%;
            margin-left: -10px;
            border: 10px solid transparent;	
            border-bottom: 11px solid white;
        }
        p {
            position: relative;
            z-index: 1;
            color: #5d6978;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            &:after,
            &:before {
                position: absolute;
                z-index: 1;
                top: 50%;
                
                width: 23px;
                height: 15px;
            }
            &:after {
                left: -20px;
                margin-top: -5px;
                background-image: url(../../img/icon/quote1.png);
            }
            &:before {
                right: -20px;
                margin-top: -7px;
                background-image: url(../../img/icon/quote2.png);
            }
        }
    }
    h3,p {
        color: white
    }
}

.questions_wrap {
    width: 370px;
    .block_questions {
       margin-top: 100px;
    }
    .mail {
        display: block;
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #2680bf;
        text-decoration: underline;
        &:hover{
        }
    }
    .tel {
        display: block;
        margin-bottom: 15px;
        color: #161d26;
        font-size: 30px;
        font-weight: 300;
        line-height: 30px;
        &:hover{
        }
    }
    .address {
        display: block;
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #5d6978;
    }
    .form_questions {
        margin-top: 84px;
    }
    form {
    }
    h2 {
        text-align: left;
        color: #161d26;
        font-size: 17px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 19px;
    }
    textarea {
        width: 370px;
        height: 160px;
        padding: 10px 15px;
        background-color: #fafafa;
        border: 1px solid #d3dae1;
        border-radius: 3px;
        color: #b9c1cb;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        resize: none;
        margin-bottom: 10px;
    }
    input {
        padding: 10px 15px;
        height: 40px;
        background-color: #fafafa;
        border: 1px solid #d3dae1;
        border-radius: 3px;
        color: #b9c1cb;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 10px;
    }
    input[type="text"] {
        width: 370px;
    }
    input[type="tel"] {
        margin-right: 5px;
        width: 180px;
    }
    button {
        width: 180px;
        height: 40px;
        background-color: #2680bf;
        border: none;
        border-radius: 3px;
        color: white;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
}
.section_questions {
    position: relative;
    z-index: 1;
}
.map_questions {
    width: 50%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    background-image: url(../../img/map.jpg);
}


.footer_page {
    
    background-color: #122f5b;
    background-image: url(../../img/icon/pattern.png);
    background-repeat: repeat;
    padding: 20px 0;
    .container {
        position: relative;
        z-index: 1;
        width: $wievport;
        margin: 0 auto;
    }
    .logo,
    .gulfstream {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        a {
            display: inline-block;
        }
    }
    .gulfstream {
        left: inherit;
        right: 0;
    }
    .logo {
        top: -7px;
    }
    .copy {
        width: 100%;
        color: white;
        font-size: 14px;
        line-height: 20px;
        margin-top: 7px;
        margin-bottom: 20px;
        text-align: center;
        a {
            display: inline-block;
            color: #2680bf;
            line-height: 20px;
            font-size: 12px;
            text-decoration: underline;
            
        }
    }
}

